*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    color: #ccc;
}

body{
    /* background-color: #18191a; */
    margin-top: 20px;
    margin-left: 20px;
}

header{
    display: block;
    justify-content: center;
    align-items: center;
}

header h1{
    display: flex;
    /* justify-content: center; */
}

nav ul{
    overflow: hidden;
    margin-left: px;
    display: flex;    
}

nav li{
    list-style-type: none;
    display: inline;
    justify-content: center;
}